<!DOCTYPE html>

<html>

	<head>
		<title>FCC Voting app</title>

		<link href="/public/css/main.css" rel="stylesheet" type="text/css">
	</head>

	<header>
		<p>Start voting!</p>
		<a id="login" class="menu" href="/login">Login</a>
	</header>

	<body>
		<div class="container">
			<div id="polls">
				<ul></ul>
			</div>
		</div>

		<script type="text/javascript" src="public/common/ajax-functions.js"></script>
		<script type="text/javascript" src="public/controllers/pollListController.client.js"></script>
	</body>
</html>
