<!DOCTYPE html>

<html>

	<head>
		<title>FCC Voting App, Login</title>

		<link href="public/css/main.css" rel="stylesheet" type="text/css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<div class="container">
			<div class="login">
				<a href="/auth/github">
					<div class="btn" id="login-btn">
						<i class="fa fa-github fa-2x" aria-hidden="true" style=" vertical-align: middle;"></i>
						LOGIN WITH GITHUB
					</div>
				</a>
			</div>
		</div>
	</body>

</html>
